.color {
  color: #00006c;
}
#bgcolor {
  background: #00006c;
  color: white;
}
.hidden {
  visibility: hidden;
}
.margintop {
  margin-top: 80px;
}
@media screen and (min-height: 1000px) {
  .margintop {
    margin-top: 29vh;
  }
}
@media screen and (min-height: 700px) and (max-height: 999px) {
  .margintop {
    margin-top: 19vh;
  }
}
.red {
  color: red;
}
.checkbox {
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #00006c;
}

.checkbox:checked::before {
  content: "\2713";
  text-align: center;
  color: white;
  position: absolute;
  left: 0rem;
  top: -0.4rem;
}
.test:checked{
 background: #00006c;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  z-index: 1;
}
.suggestions {
  border: 1px solid #999;
  border-radius: 5px;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  /* position: absolute; */
  overflow-y: auto;
  padding-left: 0;
  /* width: 267px; */
  background: white;
  z-index: 1;
}

.suggestions li {
  padding: 0.5rem;
  z-index: 1;
}

.suggestion-active,
.suggestions li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
}

.suggestions li:not(:last-of-type) {
  z-index: 1;
}