.goalpathmaindiv {
  text-align: center;
  margin-left: -2%;
}
.scrolllist {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  background: transparent;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
.goalpathscrollli {
  background: #eeeef2;
  color: black;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  border-radius: 100%;
  border: 8px solid;
  /* box-shadow: 0 2px 4px gainsboro, 0 8px 16px gainsboro, 0 8px 16px gainsboro; */
  margin: 0 35px;
}
.scrollbtn {
  border: 0;
  color: #777;
  font-size: 24px;
  /* margin: 0 8px; */
  /* margin-bottom: 2.5%; */
  background: #f3f2ef;
}
.goalpathnames {
  text-align: center;
  color: black;
  font-weight: bold;
}
.mygoalpathdiv {
  background: #ffffff;
  border-radius: 12px;
  padding-top: 2%;
  margin-left: -1%;
  margin-right: -1%;
}
